<h1> Mia Love </h1>


{{#paper-content}}
<div class="container">

	<div class="home-card">
		{{#paper-card}}
		{{#paper-toolbar }}
		<div class="md-toolbar-tools" flex=20>
			<h2 flex=true>
				Mia Love
			</h2>
			{{#paper-button classNames="md-icon-button" action="addButton"}}
			{{paper-icon icon="add"}}
			{{/paper-button}}
		</div>
		{{/paper-toolbar}}


		<div layout="column" role="main" flex=20>
		{{#paper-card-content}}
			{{#paper-content class="md-whiteframe-z1 list-demo"}}
			{{#each model.records as |record|}} 
			{{#paper-item class="md-3-line"}}
			<img src={{item.face}} alt={{item.who}} class="md-avatar">
			<div class="md-list-item-text">
				<h3>{{record.Broad_Sector.Broad_Sector}}</h3>
				<h4></h4>
				<h5>{{record.Total_$.Total_$}}</h5>
			</div>
			{{/paper-item}}
			{{/each}}
			{{/paper-content}}
		{{/paper-card-content}}
		</div>
		{{/paper-card}}

	</div>

	{{#paper-content class="md-whiteframe-z1 grid-list-demo1"}}

  {{#paper-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
  md-row-height-gt-md="1:1" md-row-height="2:2"
  md-gutter="12px" md-gutter-gt-sm="8px"}}

    {{#paper-grid-tile class="test-run" md-rowspan="3" md-colspan="2" md-colspan-sm="1"}}
      {{#paper-grid-tile-footer}}
          #1: (3r x 2c)
      {{/paper-grid-tile-footer}}
    {{/paper-grid-tile}}

    {{#paper-grid-tile class="green"}}
      {{#paper-grid-tile-footer}}
          #2: (1r x 1c)
      {{/paper-grid-tile-footer}}
    {{/paper-grid-tile}}

    {{#paper-grid-tile class="yellow"}}
      {{#paper-grid-tile-footer}}
          #3: (1r x 1c)
      {{/paper-grid-tile-footer}}
    {{/paper-grid-tile}}

    {{#paper-grid-tile class="blue" md-rowspan="2"}}
      {{#paper-grid-tile-footer}}
          #4: (2r x 1c)
      {{/paper-grid-tile-footer}}
    {{/paper-grid-tile}}

    {{#paper-grid-tile class="red" md-rowspan="2" md-colspan="2" md-colspan-sm="1"}}
      {{#paper-grid-tile-footer}}
          #5: (2r x 2c)
      {{/paper-grid-tile-footer}}
    {{/paper-grid-tile}}

    {{#paper-grid-tile class="green" md-rowspan="2"}}
      {{#paper-grid-tile-footer}}
          #6: (2r x 1c)
      {{/paper-grid-tile-footer}}
    {{/paper-grid-tile}}

  {{/paper-grid-list}}


{{/paper-content}}


</div>
{{/paper-content}}

{{outlet}}
